- name: install pip
  apt:
    name: python-pip
    state: present

- name: pip install docker-py
  pip:
    name:
      - docker
      - docker-compose
      
- name: Run container
  community.docker.docker_container:
    name: wartest
    image: "{{ image }}"
    ports:
      - "8081:8080"
    state: started
